/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P', monospace;

  --font-weight-text: 400;
  --font-weight-header: 700;

  --color-accent: #000;
  --button-text-color: #000;

  --background-image: url('../svg/pattern-light.svg');
  --background-color: #fff;

  --content-width: clamp(600px, 48.6%, 800px);

  --first-paragraph-opacity: 0.5;

  --save-button-direction: row;

  --floppy-size: 21px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --color-accent: #00CC14;
    --button-text-color: #00CC14;
    --font-weight-text: 465;
    --font-weight-header: 785;
    --background-image: url('../svg/pattern-light.svg');
    --background-color: #fff;
    --content-width: clamp(600px, 48.6%, 800px);
    --first-paragraph-opacity: 0.5;
    --save-button-direction: row;
    --floppy-size: 21px;
  }
}

@media (max-width: 600px) {
  :root {
      --content-width: 100%;
      --save-button-direction: column;
      --floppy-size: 28px;
      /* --dialog-width: 341px;
      --dialog-padding-inline: 40px;
      --logo-right: 13px; */
  }
}